# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Dependency directories
.pnp
.pnp.js

# Yarn
yarn-error.log

